<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
</head>
<body>
    <h1>List of Dogs(Dawg)!</h1>
    <ul>
        <% for(var i=0; i<dogs.length; i++) { %>
            <li><a href="/dogs/<%=dogs[i]._id%>"><%= dogs[i].name %></a></li>
        <% } %>
    </ul>
    <a href="/dogs/new"><button>Add a Dog!</button></a>
</body>
</html>