<fieldset>

<h3>Create Listing</h3>

<form (submit)="createListing()">
  <table>
    <tr>
      <td>Title:</td>
      <td><input type="text" name="tite" [(ngModel)]="newListing.title"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td><input type="text" name="description" [(ngModel)]="newListing.description"></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><input type="text" name="price" [(ngModel)]="newListing.price"></td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><input type="text" name="location" [(ngModel)]="newListing.location"></td>
    </tr>
    <tr>
      <td>Image File:</td>
      <td><input type="text" name="image" [(ngModel)]="newListing.image"></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create"></td>
    </tr>
  </table>
</form>

</fieldset>