<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Dog Form</title>
</head>
<body>
    <h1>Dog Form Page</h1>
    <form action="/dogs" method="POST">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Color:</td>
                <td><input type="text" name="color"></td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td><input type="text" name="weight"></td>
            </tr>
        </table>
        <input type="submit" value="Add Dog!">
    </form>
</body>
</html>